<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <h3>Декларация за поверителност</h3>
            <h4>Tourist Sights Of Bulgaria</h4>
            <div>
<p>Използването на „Tourist Sights Of Bulgaria“ се асоциира с онлайн акаунт. Единствената му цел е да съхранява коментарите и посетените места от потребителя, не зависейки от текущото устройство. Никаква допълнителна информация за потребителя не изпраща или съхранява.</p>
<p>„Tourist Sights Of Bulgaria“ използва Интернет връзка за да предостави кратко описание за избран туристически обект или за да изпрати/получи коментарите на потребителя.</p>
<p>„Tourist Sights Of Bulgaria“ не записва или изпраща лични данни. Когато потребителя отбележи някое място като посетено, се изпращат текущите координати на потребителя. Това се прави единствено с цел валидация.</p>
            </div>
        </div>
    </section>
</div>
