<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <h3>Privacy Policy</h3>
            <h4>National Tourist Places Of Bulgaria App</h4>
            <div>
                <p>Using “National Places Of Bulgaria” is associated with an account. The purpose of this account is to save user notes and locations which users has marked as visited in order to persist them device independent. No additional data is saved by this application.</p>
                <p>“National Places Of Bulgaria” App uses Internet connection in order to provide short information about each place.</p>
                <p>“National Places Of Bulgaria” App does not record any personal information. When the user marks locations as visited users gps coordinates are transmitted for validation purposes.</p>
            </div>
        </div>
    </section>
</div>
